<li class="sidebar-nav__item">
  <a class="sidebar-nav__link {% if link.links != blank %}js-sidebar-nav__link{% endif %}" href="{{ link.url }}">
    <div class="sidebar-nav__link-container">
      {{ link.title }}
      {% if link.links != blank %}
        {%- render 'icon-arrow-right' -%}
      {% endif %}
    </div>
  </a>
</li>
