@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.sidebar-nav-wrapper--desktop {
  // display: none;
  @include onDesktop() {
    // height: 100vh;
  }
}

.sidebar-nav-wrapper--desktop.nav-active {
  // display: block;
  // width: 100%;
}

.sidebar-nav-overlay--desktop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 26%;
  background-color: #000;
  z-index: 100;
  display: none;
}

.sidebar-desktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 255px;
  height: 100vh;
  padding: 0 0 54px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  transition: all .4s;
  left: -100%;
}

.nav-active .sidebar-desktop {
}

.sidebar-nav-desktop {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 24px 0 0px 0;

  &__item {
    display: flex;
    width: 100%;
    height: 40px;
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: 0 97px 0 0;
    }

    &__child-list {
      display: flex;
      flex-direction: column;
    }

    &__child-item {
      display: flex;
      align-items: center;
      height: 40px;
    }

    &__child-list.hidden {
      display: none;
    }

    &-container:hover {
      font-weight: 500;
    }
  }
  &__link__child-list.hidden {
    display: none;
  }
}

.sidebar-footer-desktop {
  &__item {
    height: 40px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    &:hover {
      font-weight: 500;
    }
  }
}
