@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.sidebar-nav-wrapper--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
  min-height: min-content;
  background-color: #fff;
  opacity: 0;

  @include onDesktop() {
    display: none;
  }
}

.nav-active {
  opacity: 1;
}

.sidebar-nav {
  padding: 15px;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
  }

  &__link {
    width: 100%;
    &-container {
      display: flex;
      justify-content: space-between;
    }

    &__child-list {
      display: flex;
      flex-direction: column;
    }

    &__child-item {
      display: flex;
      align-items: center;
      height: 40px;
    }

    &__child-list.hidden {
      display: none;
    }

    &-container:hover {
      font-weight: 500;
    }
  }
}

.sidebar-footer {
  border-top: 1px solid #7070703a;
  padding: 15px;

  &__item {
    height: 40px;
  }
}