@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.sidebar-nav-wrapper--desktop {
  // display: none;
  @include onDesktop() {
    // height: 100vh;
  }
}

.sidebar-nav-wrapper--desktop.nav-active {
  // display: block;
  // width: 100%;
}

.sidebar-nav-overlay--desktop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 26%;
  background-color: #000;
  z-index: 100;
  display: none;
}

.sidebar-desktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 255px;
  height: 100vh;
  padding: 0 0 54px 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  transition: all 0.4s;
  left: -100%;
}

.nav-active .sidebar-desktop {
}

.sidebar-nav-desktop {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 24px 0 0 0;

  &__item {
    display: flex;
    width: 100%;
    height: 35px;
  }

  &__link {
    display: flex;
    height: 100%;
    width: 100%;

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: 0 97px 0 0;
    }

    &-container:hover {
      font-weight: 500;
    }
  }

  // &__link {
  //   &__child-list {
  //     height: 100%;
  //     width: 361px;
  //     left: 100%;
  //   }
  // }
}

.secondary-menu-desktop {
  display: flex;
  flex-direction: column;

  position: fixed;
  height: 100%;
  width: 361px;
  left: 255px;
  top: 0;
  background-color: #fff;
  padding: 79px 0 54px 35px;
  border-left: 1px solid #7070703a;

  display: none;

  &__item {
    display: flex;
    align-items: center;
    height: 35px;
  }
}

.secondary-menu-desktop-open {
  display: flex;
}

.sidebar-footer-desktop {
  &__item {
    height: 35px;
  }

  &__link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    &:hover {
      font-weight: 500;
    }
  }
}
