@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

.sidebar-nav-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 50px);
  padding: 0 15px;
  background-color: #fff;

  @include onDesktop() {
    padding: 0 40px;
  }
}

.sidebar-nav {
  padding-top: 15px;

  &__link-container {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    height: 40px;
  }

  &__link {
    &__child-list.hidden {
      display: none;
    }
  }
}